/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {

  background-image: image-url('peaches.jpg');

}

#logo {

  height: 7em;
  width: auto;

}

.container {

  padding: 5em;
  text-align: center;
  margin-top: 0;
  border: solid white 8px;
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(214, 135, 155, 0.94);
}

.anju_button {

  background-color: #18415a;
  background-image: none;
  border: none;
  height: 2em;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 5px;
  color: white;


}

#input_box {
  color: black;
  width: 500px;
  text-align: center;
  border: none;
  border-radius: 6px;
  height: 2em;
  font-size: 15px;

}


.anju_button:hover {

  background-color: #367195;

}

#submit_button:active {

  background-color: #6c97b1;
  border: none;

}

#title {

  font-family: 'Sacramento', cursive;
  color: white;
  font-size: 4em;
}

#tagline {

  color: white;
  font-family: Raleway;
  font-size: 1em;

}

#playlist_title {

  color: white;
  font-family: Raleway;
  font-size: 2em;

}

#info {

  color: white;

}


#action_part {

  margin-top: 10px;
  display: inline-block;
  text-align: center;

}

#playlist {

  float: left;
  border: solid white 4px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 35em;
  margin-right: 10px;

}

#p_table {

  text-align:center;
  vertical-align:middle;
  margin: 0 auto;
  display: inline-block;
  width: 90%
}

#p_table td{

  width: 50%;

}

.song_select {

  border:none;
  background-image: none;
  background-color: white;
  margin: 3px;

}

#vidbox {

  float: right;
  height: 25em;
  width: 25em;
  margin-right: 5em;

}

#play_all {

}

#song_title {
  text-align: left;
}

.song {

  color: white;

}

.song:hover {

  cursor: pointer;

}

#result_table {

  width: 40em;
  height: 15em;
  margin: auto;
  margin-top: 15px;
  color: black;
  background-color: white;

}

.song_result:hover {

  cursor:pointer;

}
